:root{
    font-family: 'Courier New', Courier, monospace;
    --color-light: #fff;
}
*{
    margin: auto;
    background-color: gainsboro;
}
@media screen and (min-width: 800px) {
    #lessons {
        display: flex;
        flex-direction:column;
    }
  }
 
 
  