#dna_logo{
    width: 100px;
    height: 50px;
  position: fixed;
justify-content: left;

    }
    h1{
        color:rgb(25, 30, 78);
        margin: 10px 0px 10px 10px;
      
    }
    header{
        display: flex;
    }
    .home{
        display: flex;
        margin: 10px 0px 10px 10px;
      
     
    }
    a{
        color: black;
    }
    a:hover{
        color: gray;
    }
/* h1{
position: absolute;
}
. */